// Imported Fonts: Roboto Mono
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600;700&display=swap');


body {
    // Background image formatting
    margin: 0;
    background-repeat: repeat;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.75);
    // border-radius: 70px;
    height: 100vh;

    font-family: 'Roboto Mono', arial;
    color: #030B1E;

    .nav-bar {
        padding: 1.5em;
        display: flex;
        justify-content: space-between;

        a {
            color: #030B1E;
            font-size: 1.25em;
        }

        a:hover {
            color: #304B79;
            text-decoration: none;
        }

        button {
            border-radius: 12px;
            background-color: #030B1E;
            color: white;
            // border: 2px solid #304B79;
            border: none;
            font-size: 1em;
            padding: 0.5em;
        }
    
        button:hover {
            background-color: #304B79;
        }
    }

    .contact-space {
        background-color: rgba(3, 10, 28, .9);
        border-radius: 25px;
        height: 85vh;
        padding: 1em;

        font-family: 'Roboto Mono', arial;
        color: #030B1E;

        .contact-space-nav {
            display: flex;
            justify-content: space-between;
            button {
                border-radius: 12px;
                background-color: rgba(3, 10, 28, 0);
                color: white;
                border: none;
                font-size: 0.75m;
                padding: 0.5em;
            }
        
            button:hover {
                background-color: rgba(3, 10, 28, 1);
            }
            
            .contact-image {
                width: 16%;
            }

            .search-image {
                width: 20%;
            }
        }

    }

}