// Imported Fonts: Roboto Mono
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600;700&display=swap');


body {
    // Background image formatting
    margin: 0;
    background-repeat: repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;

    font-family: 'Roboto Mono', arial;
    color: #030B1E;

    label {
        display: block;
        font-size: 1.5em;
    }

    input {
        display: block;
        margin-bottom: 1em;
    }

    input[type="button"] {
        margin: 0 auto;
        margin-top: 1.25em;
        padding: 0.5em;
        border-radius: 20px;
        background-color: #030B1E;
        color: white;
        border: 2px solid #304B79;
        font-size: 1.25em;
    }

    input[type="button"]:hover {
        background-color: #304B79;
    }

    .new-user {
        display: none;
    }
    
    a {
        display: block;
        text-align: center;
        margin-top: 0.5em;
        font-size: 0.8em;
        color: #030B1E;       
    }

    a:hover {
        color: #304B79;
        text-decoration: none;
    }
    
}
