// Imported Fonts: Roboto Mono, Crimson
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');


body {
    // Background image formatting
    margin: 0;
    background-repeat: repeat;
}

// Login/Register Styles
.login-register {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
        font-family: 'Rubik', arial;
        font-weight: bold;
        color: white;
        padding-bottom: 0.5em;
        letter-spacing: 0.25em;
        text-align: center;
    }
}
.login-container {
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 70px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto Mono', arial;
    font-weight: bold;
    color: #030B1E;

    .login {
        padding: 4em;
    }

    .new-user {
        padding: 2em 5em;
        font-size: 1em;
    }

    form {
        padding: 0.5em;
    }

    label {
        display: block;
        font-size: 1.5em;
    }

    input {
        display: block;
        margin-bottom: 1em;
    }

    .new-user {
        input {
            margin-bottom: 0.25em;
        }
    }

    input[type="button"] {
        margin: 0 auto;
        margin-top: 1.25em;
        padding: 0.5em;
        border-radius: 20px;
        background-color: #030B1E;
        color: white;
        border: 2px solid #304B79;
        font-size: 1.25em;
    }

    input[type="button"]:hover {
        background-color: #304B79;
    }

    a {
        display: block;
        text-align: center;
        margin-top: 0.5em;
        font-size: 0.8em;
        color: #030B1E;
    }

    a:hover {
        color: #304B79;
        text-decoration: none;
    }
}

// User Contacts Styles
.contacts-container, .contacts-page {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 1em;
    height: 100vh;
    position: relative;

    font-family: 'Roboto Mono', arial;
    color: #030B1E;

    .nav-bar {
        padding: 1.5em;

        display: flex;
        justify-content: space-between;

        a {
            color: #030B1E;
            font-size: 1.25em;
        }

        a:hover {
            color: #304B79;
            text-decoration: none;
        }

        button {
            border-radius: 12px;
            background-color: #030B1E;
            color: white;
            border: none;
            font-size: 1em;
            padding: 0.5em;
        }

        button:hover {
            background-color: #304B79;
        }
    }

    .contact-space {
        background-color: rgba(3, 10, 28, .9);
        border-radius: 25px;
        height: 80vh;
        overflow-y: scroll;

        font-family: 'Roboto Mono', arial;
        color: #030B1E;

        .contact-space-nav {
            display: flex;
            justify-content: space-between;

            position: sticky;
            top: 0;
            z-index: 1;
            height: 4em;
            background-color: #030B1E;

            .search-bar {
                margin-top: 0.75em;
                height: 67%;
            }
            .search-btn {
                margin-left: 0.25em;
            }

            .contact-image {
                width: 16%;
            }

            .search-image {
                width: 55%;
            }

            @media only screen and (max-width: 550px) {
                .new-contact-label {
                    display: none;
                }
                .contact-image {
                    width: 100%;
                }
            }

            button {
                border-radius: 12px;
                background-color: rgba(3, 10, 28, 1);
                color: white;
                border: none;
                font-size: 1em;
                margin-top: 0.7em;
                margin-left: 1.25em;
                margin-right: 1.25em;
                height: 70%;
            }

            button:hover {
                background-color: #304B79;
            }

        }

        .contacts {
            margin: 0.75em;

            display: grid;

            @media only screen and (max-width: 550px) {
                grid-template-columns: repeat(1, 1fr);
            }
            @media only screen and (max-width: 850px) and (min-width: 551px) {
                grid-template-columns: repeat(2, 1fr);
            }
            @media only screen and (max-width: 1100px) and (min-width: 851px) {
                grid-template-columns: repeat(3, 1fr);
            }
            @media only screen and (max-width: 1400px) and (min-width: 1101px) {
                grid-template-columns: repeat(4, 1fr);
            }
            @media only screen and (max-width: 1800px) and (min-width: 1401px) {
                grid-template-columns: repeat(5, 1fr);
            }
            @media only screen and (min-width: 1801px) {
                grid-template-columns: repeat(6, 1fr);
            }
            grid-gap: 1em;

            justify-items: center;

            .edit-btn {
                background-color: #304B79;
            }

            .edit-btn:hover {
                background-color: #273e66;
            }
        }
    }
}

.popup-opened :not(#popup) {
    filter: blur(2px) grayscale(5%);
}

// Add Contact PopUp
.add-contact {
    form {
        padding: 0.5em;
    }

    label {
        font-family: 'Roboto Mono', arial;
        color: #030B1E;
        display: block;
        font-size: 1em;
    }

    input {
        font-family: 'Roboto Mono', arial;
        color: #030B1E;
        padding-right: 3px;
        display: block;
        margin-bottom: 1em;
    }
}

.new-contact-buttons {
    .save-new-contact {
        background-color: #304B79;
    }
    .save-new-contact:hover {
        background-color: #273e66;
    }
}

.popup-title {
    font-family: 'Roboto Mono', arial;
    color: #030B1E;
}

// Edit Popup
.edit-contact{
    form{
        padding: 0.5em;
    }

    label {
        font-family: 'Roboto Mono', arial;
        color: #030B1E;
        display: block;
        font-size: 1em;
    }

    input {
        font-family: 'Roboto Mono', arial;
        color: #030B1E;
        padding-right: 3px;
        display: block;
        margin-bottom: 1em;
    }

}

.edit-buttons{
    .save-edit {
        background-color: #304B79;
    }
    .save-edit:hover {
        background-color: #273e66;
    }
}

.popup-title {
    font-family: 'Roboto Mono', arial;
    color: #030B1E;
}

.delete-buttons{
    .keep-delete{
        background-color: #304B79;
    }
    .keep-delete:hover {
        background-color: #273e66;
    }
}

.pfp {
    border-radius: 50%;
    float: right;
}

#contacts-pane {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    max-width: 100%;
}

.contact-card {
    max-width: 100%;
    position: relative;
}
