@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");
body {
  margin: 0;
  background-repeat: repeat; }

.login-register {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .login-register h1 {
    font-family: 'Rubik', arial;
    font-weight: bold;
    color: white;
    padding-bottom: 0.5em;
    letter-spacing: 0.25em;
    text-align: center; }

.login-container {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto Mono', arial;
  font-weight: bold;
  color: #030B1E; }
  .login-container .login {
    padding: 4em; }
  .login-container .new-user {
    padding: 2em 5em;
    font-size: 1em; }
  .login-container form {
    padding: 0.5em; }
  .login-container label {
    display: block;
    font-size: 1.5em; }
  .login-container input {
    display: block;
    margin-bottom: 1em; }
  .login-container .new-user input {
    margin-bottom: 0.25em; }
  .login-container input[type="button"] {
    margin: 0 auto;
    margin-top: 1.25em;
    padding: 0.5em;
    border-radius: 20px;
    background-color: #030B1E;
    color: white;
    border: 2px solid #304B79;
    font-size: 1.25em; }
  .login-container input[type="button"]:hover {
    background-color: #304B79; }
  .login-container a {
    display: block;
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.8em;
    color: #030B1E; }
  .login-container a:hover {
    color: #304B79;
    text-decoration: none; }

.contacts-container, .contacts-page {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 1em;
  height: 100vh;
  position: relative;
  font-family: 'Roboto Mono', arial;
  color: #030B1E; }
  .contacts-container .nav-bar, .contacts-page .nav-bar {
    padding: 1.5em;
    display: flex;
    justify-content: space-between; }
    .contacts-container .nav-bar a, .contacts-page .nav-bar a {
      color: #030B1E;
      font-size: 1.25em; }
    .contacts-container .nav-bar a:hover, .contacts-page .nav-bar a:hover {
      color: #304B79;
      text-decoration: none; }
    .contacts-container .nav-bar button, .contacts-page .nav-bar button {
      border-radius: 12px;
      background-color: #030B1E;
      color: white;
      border: none;
      font-size: 1em;
      padding: 0.5em; }
    .contacts-container .nav-bar button:hover, .contacts-page .nav-bar button:hover {
      background-color: #304B79; }
  .contacts-container .contact-space, .contacts-page .contact-space {
    background-color: rgba(3, 10, 28, 0.9);
    border-radius: 25px;
    height: 80vh;
    overflow-y: scroll;
    font-family: 'Roboto Mono', arial;
    color: #030B1E; }
    .contacts-container .contact-space .contact-space-nav, .contacts-page .contact-space .contact-space-nav {
      display: flex;
      justify-content: space-between;
      position: sticky;
      top: 0;
      z-index: 1;
      height: 4em;
      background-color: #030B1E; }
      .contacts-container .contact-space .contact-space-nav .search-bar, .contacts-page .contact-space .contact-space-nav .search-bar {
        margin-top: 0.75em;
        height: 67%; }
      .contacts-container .contact-space .contact-space-nav .search-btn, .contacts-page .contact-space .contact-space-nav .search-btn {
        margin-left: 0.25em; }
      .contacts-container .contact-space .contact-space-nav .contact-image, .contacts-page .contact-space .contact-space-nav .contact-image {
        width: 16%; }
      .contacts-container .contact-space .contact-space-nav .search-image, .contacts-page .contact-space .contact-space-nav .search-image {
        width: 55%; }
      @media only screen and (max-width: 550px) {
        .contacts-container .contact-space .contact-space-nav .new-contact-label, .contacts-page .contact-space .contact-space-nav .new-contact-label {
          display: none; }
        .contacts-container .contact-space .contact-space-nav .contact-image, .contacts-page .contact-space .contact-space-nav .contact-image {
          width: 100%; } }
      .contacts-container .contact-space .contact-space-nav button, .contacts-page .contact-space .contact-space-nav button {
        border-radius: 12px;
        background-color: #030a1c;
        color: white;
        border: none;
        font-size: 1em;
        margin-top: 0.7em;
        margin-left: 1.25em;
        margin-right: 1.25em;
        height: 70%; }
      .contacts-container .contact-space .contact-space-nav button:hover, .contacts-page .contact-space .contact-space-nav button:hover {
        background-color: #304B79; }
    .contacts-container .contact-space .contacts, .contacts-page .contact-space .contacts {
      margin: 0.75em;
      display: grid;
      grid-gap: 1em;
      justify-items: center; }
      @media only screen and (max-width: 550px) {
        .contacts-container .contact-space .contacts, .contacts-page .contact-space .contacts {
          grid-template-columns: repeat(1, 1fr); } }
      @media only screen and (max-width: 850px) and (min-width: 551px) {
        .contacts-container .contact-space .contacts, .contacts-page .contact-space .contacts {
          grid-template-columns: repeat(2, 1fr); } }
      @media only screen and (max-width: 1100px) and (min-width: 851px) {
        .contacts-container .contact-space .contacts, .contacts-page .contact-space .contacts {
          grid-template-columns: repeat(3, 1fr); } }
      @media only screen and (max-width: 1400px) and (min-width: 1101px) {
        .contacts-container .contact-space .contacts, .contacts-page .contact-space .contacts {
          grid-template-columns: repeat(4, 1fr); } }
      @media only screen and (max-width: 1800px) and (min-width: 1401px) {
        .contacts-container .contact-space .contacts, .contacts-page .contact-space .contacts {
          grid-template-columns: repeat(5, 1fr); } }
      @media only screen and (min-width: 1801px) {
        .contacts-container .contact-space .contacts, .contacts-page .contact-space .contacts {
          grid-template-columns: repeat(6, 1fr); } }
      .contacts-container .contact-space .contacts .edit-btn, .contacts-page .contact-space .contacts .edit-btn {
        background-color: #304B79; }
      .contacts-container .contact-space .contacts .edit-btn:hover, .contacts-page .contact-space .contacts .edit-btn:hover {
        background-color: #273e66; }

.popup-opened :not(#popup) {
  filter: blur(2px) grayscale(5%); }

.add-contact form {
  padding: 0.5em; }
.add-contact label {
  font-family: 'Roboto Mono', arial;
  color: #030B1E;
  display: block;
  font-size: 1em; }
.add-contact input {
  font-family: 'Roboto Mono', arial;
  color: #030B1E;
  padding-right: 3px;
  display: block;
  margin-bottom: 1em; }

.new-contact-buttons .save-new-contact {
  background-color: #304B79; }
.new-contact-buttons .save-new-contact:hover {
  background-color: #273e66; }

.popup-title {
  font-family: 'Roboto Mono', arial;
  color: #030B1E; }

.edit-contact form {
  padding: 0.5em; }
.edit-contact label {
  font-family: 'Roboto Mono', arial;
  color: #030B1E;
  display: block;
  font-size: 1em; }
.edit-contact input {
  font-family: 'Roboto Mono', arial;
  color: #030B1E;
  padding-right: 3px;
  display: block;
  margin-bottom: 1em; }

.edit-buttons .save-edit {
  background-color: #304B79; }
.edit-buttons .save-edit:hover {
  background-color: #273e66; }

.popup-title {
  font-family: 'Roboto Mono', arial;
  color: #030B1E; }

.delete-buttons .keep-delete {
  background-color: #304B79; }
.delete-buttons .keep-delete:hover {
  background-color: #273e66; }

.pfp {
  border-radius: 50%;
  float: right; }

#contacts-pane {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
  max-width: 100%; }

.contact-card {
  width: 100%;
  position: relative; }

#noContacts {
  color: white;
  padding: 30px;
  opacity: 0.5;
  text-align: center; }

#noContacts > img {
  height: 100px;
  padding: 10px; }
